﻿@model GP_Lab6.ViewModels.ComputerFull

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ComputerFull</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orderedDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderedDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        @foreach (var item in Model.specs)
        {
            <dd>
                <b>@Html.DisplayNameFor(it => item.Name) </b>
                @Html.DisplayFor(it => item.Name) <br />

                <b>@Html.DisplayNameFor(it => item.Description) </b>
                @Html.DisplayFor(it => item.Description) <br />

                <b>@Html.DisplayNameFor(it => item.Price) </b>
                @Html.DisplayFor(it => item.Price) <br />
            </dd>
            <p />
        }

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
