﻿@model GP_Lab6.ViewModels.ComputerFull

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComputerFull</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orderedDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderedDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        @foreach (var item in Model.specs)
        {
            <dd>
                <b>@Html.DisplayNameFor(it => item.Name) </b>
                @Html.DisplayFor(it => item.Name) <br />

                <b>@Html.DisplayNameFor(it => item.Description) </b>
                @Html.DisplayFor(it => item.Description) <br />

                <b>@Html.DisplayNameFor(it => item.Price) </b>
                @Html.DisplayFor(it => item.Price) <br />
            </dd>
            <p />
        }

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
