﻿<p class="text-danger">This is the <b>first </b> sentence in App_Data/q5.html, which
    is automatically called by Views/About.cshtml. Put your answers to the two questions below this
    line.
</p>

<h4>[9 Marks] Course Requirements</h4>
<h2>In brief, explain in your own words, what you learned in INT422 Summer 2015</h2>
<p>
    <ul>
        <li>Building a website using MVC(Model View Controller).</li>
        <li>Using Models(Classes) to add and retreive data from local database.</li>
        <li>Initialzing ASP.NET web site with some data in local database to show later on.</li>
        <li>Security - Allowing apporiate users to access the pages.</li>
        <li>Using Claims to give roles to created users which helps later on with puting security on the site.</li>
        <li>CRUD(Create, Read, Update, Delete) Actions/methods on controllers to make website function better.</li>
        <li>Creating/Showing Master-Detail page which displays information from more then one classes(subclasses of main class).</li>
        <li>Error Validation and handeling bad inputs from user.</li>
        <li>Creating pages to display CRUD actions(Create, Details, Delete, Edit) pages.</li>
        <li>Using ViewModels to display little information as possible for security purpose and makes website faster.</li>
        <li>Adding an extra security layer between database and client computer/web page.</li>
        <li>Using Scaffolding to generate starting code which saves time.</li>
        <li>Creating relationships between classes so when data is retrived it will provide all necessary data needed from one or many classes.</li>
    </ul>
</p>

<h4>[1 Mark] Research</h4>
<h2>After everything works, what independent research did you do. Include your sources, including
books, websites, source code repositories</h2>
<p>
    <b>Sources:</b> 
    <ul>
        <li>Professional ASP.NET Course Book</li>
        <li><a href="https://msdn.microsoft.com/en-us/library/system.web.mvc.multiselectlist%28v=vs.118%29.aspx">MultiSelectList</a></li>
        <li><a href="https://msdn.microsoft.com/en-us/library/system.web.mvc.selectlistitem%28v=vs.118%29.aspx">SelectListItem</a></li>
        <li><a href="http://www.asp.net/mvc/overview/getting-started">Microsoft ASP.NET</a></li>
        <li><a href="http://stackoverflow.com/">Stackoverflow</a></li>
    </ul>
</p>

Please note: this is a requirement for students who completed Lab 6. It could be one simple, yet
significant thing that was not taught in INT422 Summer2015.

<p class="text-danger">This is the <b>last</b> sentence in App_Data/q5.html, which
    is automatically called by Views/About.cshtml. Put your answers to the two questions above this
    line
</p>
