﻿@model IEnumerable<GP_Lab6.ViewModels.IndexClientComputers>

@{
    ViewBag.Title = "Index";
}

<h2>List of Customers Computer Orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.day)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.day)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Computer", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
